{% extends 'task_9_base.html' %}

{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}

{% block content %}
    <h3>Каталог нижней одежды</h3>
            <p><b>Шорты</b></p>
            <p>Цена: 500 рублей</p>
            <img src="/static/image/3.jpg" width="200" height="250" alt="Тут должно было быть фото :("><br>
            <p><b>Брюки</b></p>
            <p>Цена: 2000 рублей</p>
            <img src="/static/image/4.jpg" width="200" height="250" alt="Тут должно было быть фото :(">
{% endblock %}
