{% extends 'task_9_base.html' %}

{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}

{% block content %}
    <h3>Каталог обуви</h3>
            <p><b>Кеды</b></p>
            <p>Цена: 1200 рублей</p>
            <img src="/static/image/5.jpg" width="200" height="200" alt="Тут должно было быть фото :("><br>
            <p><b>Кроссовки</b></p>
            <p>Цена: 1700 рублей</p>
            <img src="/static/image/6.jpg" width="200" height="200" alt="Тут должно было быть фото :(">
{% endblock %}
